
<body>
  <main class="bg-neutral">
    <div class="bg-neutral justify-center text-center">
      <div class="w-full mx-auto">
        <div class="bg-neutral card w-full glass justify-center text-center">
          <figure>
            <div class="avatar">
              <div class="w-24 mask mask-squircle">
                <img src="./img/Profile-Picture.png" />
              </div>
            </div>
          </figure>
          <div class="card-body justify-center">
            <h1 class="card-title text-primary-content justify-center text-center">Brennan LeClair</h1>
            <p class="text-primary-content text-center">Sofware Engineer</p>
            <p class="text-primary-content text-center">(619) 354-7965</p>
            <p class="text-primary-content text-center">brennanl.dev@gmail.com</p>
            <div class="card-actions justify-center">
              <button class="btn btn-secondary text-primary-content text-center"
                onclick="window.open('https://www.google.com/maps/place/San+Diego,+CA/@32.8247626,-117.2494014,11z/data=!3m1!4b1!4m5!3m4!1s0x80d9530fad921e4b:0xd3a21fdfd15df79!8m2!3d32.715738!4d-117.1610838?hl=en&authuser=0' + location.search)">San
                Diego</button>
              <button class="btn btn-secondary text-primary-content text-center"
                onclick="window.open('https://www.linkedin.com/in/brennanleclair/' + location.search)">LinkedIn</button>
              <button class="btn btn-secondary text-primary-content text-center"
                onclick="window.open('https://github.com/Blec333' + location.search)">GitHub</button>
              <button class="btn btn-secondary text-primary-content text-center"
                onclick="window.open('https://github.com/Blec333/portfolio' + location.search)">Repo</button>
              <button class="btn btn-secondary text-primary-content text-center"
                onclick="window.open('./img/Resume.docx' + location.search)" download="">Resume</button>
            </div>
          </div>
          <br>
          <div class="bg-neutral text-center">
            <br>
            <h1 class=" text-primary-content text-center">Technical Skills</h1>
            <br>
            <div class=" text-primary-content text-center">Dynamo, C#, HTML, CSS, JavaScript, Python, Lisp, VBA (.COD,
              Excel), AutoCAD, Revit, Fabrication CADmep, CAMduct, Design Line, APL, Glue, Navis, Bluebeam, 360: Field,
              Docs, Collab, Procore, Box, Trimble, Lidar, Matterport, Microsoft Office (Word, Excel, PowerPoint,
              Outlook)</div>
            <br>
            <br>
            <h1 class=" text-primary-content text-center">Core Competencies</h1>
            <br>
            <div class=" text-primary-content text-center">Project Management | Project Planning | BIM Management |
              Strategic Planning | Project Execution | Cost & Quality Control | Mechanical Drafting & Detailing |
              Schedule Management | Change Management | Shop Fabrication | Engineering Design | Project Lifecycle |
              Inventory Controls | Profit and Loss Management | Resource Maintenance | Program Planning | Vendor
              Management | Staff Coordination | Executive Leadership | Interpersonal Skills | Excellent Communication
              Skills</div>
          </div>
        </div>
        <br>
        <br>
        <div class="carousel carousel-center p-4 space-x-4 bg-neutral rounded-box">
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/AdventureQuest.gif" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Apr 2022</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content">Adventure Quest</h3>
                <p class="text-primary-content">Create an adventurer, choose a quest, watch the battle unfold</p>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://github.com/Blec333/adventureQuest' + location.search)">Repo</button>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://warm-falls-71074.herokuapp.com/' + location.search)">Deployment</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/search-demo.gif" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Apr 2022</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content">The Travel Center</h3>
                <p class="text-primary-content"> Server API fetch project providing various geolocation based
                  information in
                  real time.</p>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://github.com/Blec333/the-travel-center' + location.search)">Repo</button>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://Blec333.github.io/the-travel-center/' + location.search)">Deployment</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/Weather Dashboard.gif" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Apr 2022</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content">Weather Dashboard</h3>
                <p class="text-primary-content"> Weather forecasts provided per city searched.</p>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://github.com/Blec333/weather-dashboard' + location.search)">Repo</button>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://Blec333.github.io/weather-dashboard/' + location.search)">Deployment</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/Work Day Scheduler.gif" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Mar 2022</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content">Work Day Scheduler</h3>
                <p class="text-primary-content"> Set priorities by each one hour block of your work day, memory remains
                  persistant.</p>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://github.com/Blec333/day-planner' + location.search)">Repo</button>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('https://Blec333.github.io/day-planner/' + location.search)">Deployment</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/c-sharp.png" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Month Year</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content"></h3>
                <p class="text-primary-content"></p>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('#' + location.search)">Repo</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/python.png" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Month Year</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content"></h3>
                <p class="text-primary-content"></p>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('#' + location.search)">Repo</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-neutral rounded-lg border shadow-md max-w-xs overflow-hidden rounded-box">
              <img class="h-56 lg:h-60 w-full object-cover" src="./img/autolisp.jpg" alt="" />
              <div class="p-3">
                <span class="text-sm text-primary-content">Month Year</span>
                <h3 class="font-semibold text-xl leading-6 text-primary-content"></h3>
                <button class="btn btn-secondary text-primary-content"
                  onclick="window.open('#' + location.search)">Repo</button>
                <p class="text-primary-content"></p>
                <a class="mt-3 block text-primary-content" href="#">Repo >></a>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center text-primary-content justify-center">Thank you for viewing my portfolio <a
            href="https://github.com/blec333" target="_blank">-- Brennan LeClair</a></div>
        <br>
        <h3 class="font-semibold text-xl text-primary-content">Contact Me</h3>
        <div class="overflow-x-auto">
        <div class="table table-normal w-full table-auto">
          <div class="table-row hover">
            <span class="table-cell text-primary-content text-right">Name: </span><input type="text" placeholder="Name" class="input input-bordered table-cell text-primary-content" />
          </div><br>
          <div class="table-row hover">
            <span class="table-cell text-primary-content text-right">Email: </span><input type="text" placeholder="info@site.com" class="input input-bordered table-cell text-primary-content" />
          </div><br>
          <div class="table-row hover">
            <span class="table-cell text-primary-content text-right">Subject: </span><input type="text" placeholder="Subject" class="input input-bordered table-cell text-primary-content" />
          </div><br>
          <div class="table-row hover">
            <span class="table-cell text-primary-content text-right">Message: </span><input type="text" placeholder="Message" class="input input-bordered table-cell text-primary-content" />
          </div><br>
          <br>
          <br>
          <br>
          <br>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script src="./js/index.js"></script>
</body>
