<div class="hero min-h-screen"
  style="background-image: url(https://workfeelsgood.com/wp-content/uploads/2019/01/shutterstock_713811001_editorial-project-manager-1000x667-1.jpg);">
  <section>













    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">

        <h3>PROJECTS</h3>
        <select class="select w-full max-w-xs" id="monster">
          <option>SELECT PROJECT</option>
        </select>


        <h3>SELECT QUEST</h3>
        <div class="flex justify-center">
          <div>
            <div id="questList">
            </div>

            <h3 id="difficulty">DIFFICULTY: </h3>
            <div class="card-actions justify-end">
              <button class="btn btn-primary" id="create">Create Quest</button>
            </div>
          </div>
        </div>
















  </section>


</div>
<script src="../js/projects.js"></script>
