<div class="hero min-h-screen"
  style="background-image: url(https://workfeelsgood.com/wp-content/uploads/2019/01/shutterstock_713811001_editorial-project-manager-1000x667-1.jpg);">
  <section>

    <div class="card w-full bg-neutral shadow-xl">
      <div class="card-body">
        <h3>PROJECTS</h3>
        <select class="select w-full max-w-xs" id="projects">
          <option>SELECT PROJECT</option>
        </select>
        <h3>Project Information</h3>
        <div class="flex justify-center">
          <div>
            <div id="projectList">
            </div>
          </div>
        </div>

  </section>

</div>
<script src="../js/projects.js"></script>
